In [164]:
import pandas as pd
import numpy as np

In [165]:
!pip install pyreadstat
df = pd.read_spss("Data_636.sav")
df.head()

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pyreadstat in c:\users\16539\appdata\roaming\python\python39\site-packages (1.2.8)
Requirement already satisfied: pandas>=1.2.0 in c:\users\16539\appdata\roaming\python\python39\site-packages (from pyreadstat) (1.5.3)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas>=1.2.0->pyreadstat) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\programdata\anaconda3\lib\site-packages (from pandas>=1.2.0->pyreadstat) (2.8.2)
Requirement already satisfied: numpy>=1.20.3 in c:\programdata\anaconda3\lib\site-packages (from pandas>=1.2.0->pyreadstat) (1.21.5)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas>=1.2.0->pyreadstat) (1.16.0)

,sys_RespNum,sys_StartTime,sys_EndTime,sys_ElapsedTime,sys_SumPageTimes,sys_StartTimeStamp,sys_EndTimeStamp,sys_DataSource,sys_RespStatus,sys_RespRemoved,...,EGOISMcenter,HEDONISMcenter,BIOSPHERICcenter,ALTRUISM,EGOISM,HEDONISM,BIOSPHERIC,CLU4,CLU3,Nreallife
0,573.0,17 Feb 2022 - 18:38:34 CET,17 Feb 2022 - 19:01:31 CET,1377.0,1407.0,1.645120e+09,1.645121e+09,1.0,5.0,0.0,...,-1.3500,-0.083333,1.5000,4.00,2.4,3.666667,5.25,1.0,1.0,7.0
1,999999506.0,17 Feb 2022 - 17:30:27 CET,17 Feb 2022 - 17:43:03 CET,756.0,754.0,1.645115e+09,1.645116e+09,1.0,5.0,0.0,...,-2.5875,1.479167,1.3125,6.00,2.6,6.666667,6.50,2.0,2.0,10.0
2,133.0,15 Feb 2022 - 18:57:57 CET,15 Feb 2022 - 19:19:10 CET,1273.0,1269.0,1.644948e+09,1.644949e+09,1.0,5.0,0.0,...,-1.2750,-0.541667,0.6250,4.25,1.6,2.333333,3.50,3.0,3.0,9.0
3,167.0,16 Feb 2022 - 00:25:18 CET,16 Feb 2022 - 00:36:00 CET,642.0,638.0,1.644968e+09,1.644968e+09,1.0,5.0,0.0,...,-2.1250,0.875000,1.3750,5.75,3.0,6.000000,6.50,4.0,3.0,10.0
4,346.0,16 Feb 2022 - 14:11:04 CET,16 Feb 2022 - 14:22:15 CET,671.0,668.0,1.645017e+09,1.645018e+09,1.0,5.0,0.0,...,-0.5625,-1.229167,0.6875,3.50,2.0,1.333333,3.25,3.0,3.0,9.0

In [166]:
df.columns.to_list()

['sys_RespNum',
 'sys_StartTime',
 'sys_EndTime',
 'sys_ElapsedTime',
 'sys_SumPageTimes',
 'sys_StartTimeStamp',
 'sys_EndTimeStamp',
 'sys_DataSource',
 'sys_RespStatus',
 'sys_RespRemoved',
 'sys_DispositionCode',
 'sys_LastQuestion',
 'sys_UserJavaScript',
 'sys_UserAgent',
 'sys_OperatingSystem',
 'sys_Browser',
 'sys_ScreenWidth',
 'sys_CAPIDeviceID',
 'tic',
 'Consent1new',
 'Consent2new',
 'Consent3new',
 'AttentionCheck',
 'Age',
 'Education',
 'Gender',
 'Nationality',
 'Income',
 'Canton',
 'CitySize',
 'OwnOrRent',
 'NoHuouseholders',
 'BillPayer',
 'CurrentRenewables',
 'CurrentRenewables_1_other',
 'CurrentPricekWh',
 'CurrentPricekWh_1_other',
 'Appliances_r1',
 'Appliances_r2',
 'ownsPV',
 'Appliances_r3',
 'Appliances_r4',
 'ComprehCheckRenewa',
 'ComprehCheckInvestment',
 'ComprehCheckTrade',
 'ComprehCheckPricing',
 'ComprehCheckCost',
 'CBCMelanieStudy1_Random1',
 'CBCMelanieStudy1_Random1_none',
 'CBCMelanieStudy1_Random2',
 'CBCMelanieStudy1_Random2_none',
 'CBCMelanieStudy1_Random3',
 'CBCMelanieStudy1_Random3_none',
 'CBCMelanieStudy1_Random4',
 'CBCMelanieStudy1_Random4_none',
 'CBCMelanieStudy1_Random5',
 'CBCMelanieStudy1_Random5_none',
 'CBCMelanieStudy1_Random6',
 'CBCMelanieStudy1_Random6_none',
 'CBCMelanieStudy1_Random7',
 'CBCMelanieStudy1_Random7_none',
 'CBCMelanieStudy1_Random8',
 'CBCMelanieStudy1_Random8_none',
 'CBCMelanieStudy1_Random9',
 'CBCMelanieStudy1_Random9_none',
 'CBCMelanieStudy1_Random10',
 'CBCMelanieStudy1_Random10_none',
 'LocalAcquaintances',
 'LocalPreference',
 'PoliticalOrientation',
 'RiskSeeking',
 'Big5_r1',
 'Big5_r2',
 'Big5_r3',
 'Big5_r4',
 'Big5_r5',
 'Big5_r6',
 'Big5_r7',
 'Big5_r8',
 'Big5_r9',
 'Big5_r10',
 'PlaceAttachment_r1',
 'PlaceAttachment_r2',
 'PlaceAttachment_r3',
 'PlaceAttachment_r4',
 'PlaceAttachment_r5',
 'PlaceAttachment_r6',
 'PlaceAttachment_r7',
 'ClimateChangeConcern_r1',
 'ClimateChangeConcern_r2',
 'ClimateChangeConcern_r3',
 'ClimateChangeConcern_r4',
 'ClimateChangeConcern_r5',
 'ClimateChangeConcern_r6',
 'ClimateChangeConcern_r7',
 'ClimateChangeConcern_r8',
 'EnergySecurityConcern_r1',
 'EnergySecurityConcern_r2',
 'EnergySecurityConcern_r3',
 'EnergySecurityConcern_r4',
 'EnergyLiteracy_r1',
 'EnergyLiteracy_r2',
 'EnergyLiteracy_r3',
 'EnergyLiteracy_r4',
 'EnergyLiteracy_r5',
 'EnergyLiteracy_r6',
 'TrustEnergy_r1',
 'TrustEnergy_r2',
 'TrustEnergy_r3',
 'TrustSocial_r1',
 'TrustSocial_r2',
 'TrustSocial_r3',
 'ValueScale_r1',
 'ValueScale_r2',
 'ValueScale_r3',
 'ValueScale_r4',
 'ValueScale_r5',
 'ValueScale_r6',
 'ValueScale_r7',
 'ValueScale_r8',
 'ValueScale_r9',
 'ValueScale_r10',
 'ValueScale_r11',
 'ValueScale_r12',
 'ValueScale_r13',
 'ValueScale_r14',
 'ValueScale_r15',
 'ValueScale_r16',
 'sys_CBCVersion_CBCMelanieStudy1',
 'sys_CBCDesignID_CBCMelanieStudy1',
 'sys_pagetime_1',
 'sys_pagetime_2',
 'sys_pagetime_3',
 'sys_pagetime_4',
 'sys_pagetime_5',
 'sys_pagetime_6',
 'sys_pagetime_7',
 'sys_pagetime_8',
 'sys_pagetime_9',
 'sys_pagetime_10',
 'sys_pagetime_11',
 'sys_pagetime_12',
 'sys_pagetime_13',
 'sys_pagetime_14',
 'sys_pagetime_15',
 'sys_pagetime_16',
 'sys_pagetime_17',
 'sys_pagetime_18',
 'sys_pagetime_19',
 'sys_pagetime_20',
 'sys_pagetime_21',
 'sys_pagetime_22',
 'sys_pagetime_23',
 'sys_pagetime_24',
 'sys_pagetime_25',
 'sys_pagetime_26',
 'sys_pagetime_27',
 'sys_pagetime_28',
 'sys_OriginalRespondentNumber',
 'sys_OriginalFile',
 'sys_OriginalRespondentSignature',
 'sys_SequentialRespNum',
 'Analysisrun2_Utilities_Raw_b100grünb',
 'Analysisrun2_Utilities_Raw_b80grünb',
 'Analysisrun2_Utilities_Raw_b60grünb',
 'Analysisrun2_Utilities_Raw_fontsize2colorSiesind_B',
 'Analysisrun2_Utilities_Raw_fontsize2colorSiesind_A',
 'Analysisrun2_Utilities_Raw_fontsize2colorSiesind',
 'Analysisrun2_Utilities_Raw_fontsize2colorfontbF',
 'Analysisrun2_Utilities_Raw_fontsize2coloranderenf',
 'Analysisrun2_Utilities_Raw_fontsize2colorkleinenund',
 'Analysisrun2_Utilities_Raw_bfixbfontsize2color',
 'Analysisrun2_Utilities_Raw_bdynamischbfontsize2col',
 'Analysisrun2_Utilities_Raw_bpersonalisiertbfontsize2',
 'Analysisrun2_Utilities_Raw_b20günstigerbfontsize2',
 'Analysisrun2_Utilities_Raw_bgenausovielbfontsize2c',
 'Analysisrun2_Utilities_Raw_b20teurerbfontsize2col',
 'Analysisrun2_Utilities_Raw_NONE',
 'Analysisrun2_Utilities_Zerocentered_b100grünb',
 'Analysisrun2_Utilities_Zerocentered_b80grünb',
 'Analysisrun2_Utilities_Zerocentered_b60grünb',
 'Analysisrun2_Utilities_Zerocentered_fontsize2colorS_B',
 'Analysisrun2_Utilities_Zerocentered_fontsize2colorS_A',
 'Analysisrun2_Utilities_Zerocentered_fontsize2colorS',
 'Analysisrun2_Utilities_Zerocentered_fontsize2color',
 'Analysisrun2_Utilities_Zerocentered_fontsize2colora',
 'Analysisrun2_Utilities_Zerocentered_fontsize2colork',
 'Analysisrun2_Utilities_Zerocentered_bfixbfontsize2',
 'Analysisrun2_Utilities_Zerocentered_bdynamischbfontsi',
 'Analysisrun2_Utilities_Zerocentered_bpersonalisiertbfon',
 'Analysisrun2_Utilities_Zerocentered_b20günstigerbfont',
 'Analysisrun2_Utilities_Zerocentered_bgenausovielbfont',
 'Analysisrun2_Utilities_Zerocentered_b20teurerbfontsi',
 'Analysisrun2_Utilities_Zerocentered_NONE',
 'Analysisrun2_Importances_GrünerStromspanclasstool_tip_lin',
 'Analysisrun2_Importances_SolarInvestitionspanclasstool_ti',
 'Analysisrun2_Importances_Handelmitspanclasstool_tip_link',
 'Analysisrun2_Importances_PreiskWhspanclasstool_tip_link',
 'Analysisrun2_Importances_Kostenspanclasstool_tip_linkf',
 'EnergyLiteracy',
 'ownsEV',
 'ownsStorage',
 'ownsHeatPump',
 'PlaceAttachment',
 'EnergySecurity',
 'ClimateChangeConcern',
 'hedonicValues',
 'egoisticValues',
 'altruisticValues',
 'biosphericValues',
 'GenderMF',
 'NlocalAcquitances',
 'HLlocalAcquitances',
 'InterestEV',
 'InterestPV',
 'InterestBATTERY',
 'InterestHP',
 'BFI_Extraversion',
 'BFI_Agreeableness',
 'BFI_Conscientiousness',
 'BFI_Neuroticism',
 'BFI_Openness',
 'ESS_Trust',
 'Energy_Trust',
 'Social_ESS_Trust',
 'ALT_equality',
 'BIO_respecting',
 'EGO_socialpower',
 'HED_pleasure',
 'BIO_unitynature',
 'ALT_worldpeace',
 'EGO_wealth',
 'EGO_authority',
 'ALT_socialJustice',
 'HED_enjoylife',
 'BIO_protecting',
 'EGO_influential',
 'ALT_helpful',
 'BIO_preventing',
 'HED_selfindulgent',
 'EGO_ambitious',
 'MRAT',
 'ALTRUISMcenter',
 'EGOISMcenter',
 'HEDONISMcenter',
 'BIOSPHERICcenter',
 'ALTRUISM',
 'EGOISM',
 'HEDONISM',
 'BIOSPHERIC',
 'CLU4',
 'CLU3',
 'Nreallife']

In [167]:
df.shape

(636, 253)

In [168]:
CBC1_map_green_energy = {1:3, 2:2, 3:1}
CBC1_map_cost = { 1:3, 2:3, 3:2,  }
CBC2_map_green_energy = { 1:2, 2:2, 3:3,}
CBC2_map_cost = { 1:1,2:2,3:2, }
CBC3_map_green_energy = { 1:2, 2:1, 3:3,}
CBC3_map_cost = { 1:1, 2:3, 3:1,}    
CBC4_map_green_energy = { 1:1, 2:1, 3:3, }
CBC4_map_cost = {1:2,2:1,3:2,}
CBC5_map_green_energy = { 1:1, 2:3, 3:2,}
CBC5_map_cost = { 1:2, 2:1, 3:3, }

CBC6_map_green_energy = { 1:3, 2:3, 3:1,}
CBC6_map_cost = { 1:1, 2:3, 3:3, }
CBC7_map_green_energy = { 1:2, 2:1, 3:2,}
CBC7_map_cost = { 1:2, 2:1, 3:1,}


CBC8_map_green_energy = { 1:3, 2:3, 3:1,}
CBC8_map_cost = { 1:2, 2:3, 3:3, }
CBC9_map_green_energy = { 1:2, 2:1, 3:3, }
CBC9_map_cost = { 1:2, 2:1, 3:3, }
CBC10_map_green_energy = { 1:2, 2:2, 3:1,}
CBC10_map_cost = { 1:1, 2:3, 3:2,}

In [169]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from collections import Counter
from collections import defaultdict

# 定义映射字典
mapping = {
    'CBCMelanieStudy1_Random1': {'green_energy': {1:3, 2:2, 3:1}, 'cost': { 1:3, 2:3, 3:2,  }},
    'CBCMelanieStudy1_Random2': {'green_energy': { 1:2, 2:2, 3:3,}, 'cost': { 1:1,2:2,3:2, }},
    'CBCMelanieStudy1_Random3': {'green_energy': { 1:2, 2:1, 3:3,}, 'cost': { 1:1, 2:3, 3:1,}},
    
    'CBCMelanieStudy1_Random4': {'green_energy': { 1:1, 2:1, 3:3, }, 'cost': {1:2,2:1,3:2,}},
    'CBCMelanieStudy1_Random5': {'green_energy': { 1:1, 2:3, 3:2,}, 'cost': { 1:2, 2:1, 3:3, }},
    'CBCMelanieStudy1_Random6': {'green_energy': { 1:3, 2:3, 3:1,}, 'cost': { 1:1, 2:3, 3:3, }},
    'CBCMelanieStudy1_Random7': {'green_energy': { 1:2, 2:1, 3:2,}, 'cost': { 1:2, 2:1, 3:1,}},
    
    'CBCMelanieStudy1_Random8': {'green_energy': { 1:3, 2:3, 3:1,}, 'cost': { 1:2, 2:3, 3:3, }},
    'CBCMelanieStudy1_Random9': {'green_energy': { 1:2, 2:1, 3:3, }, 'cost': { 1:2, 2:1, 3:3, }},
    'CBCMelanieStudy1_Random10': {'green_energy': { 1:2, 2:2, 3:1,}, 'cost': { 1:1, 2:3, 3:2,}},
}

In [170]:
freq_data = []

# 逐行计算频率
for _, row in df.iterrows():
    row_income = row['Income']
    row_education = row['Education']
    
    for CBC_col, mappings in mapping.items():
        none_col = CBC_col + '_none'
        
        if row[none_col] == 1:
            green_energy_level = mappings['green_energy'][row[CBC_col]]
            cost_level = mappings['cost'][row[CBC_col]]
            
            freq_data.append({
                'income': row_income,
                'education': row_education,
                'green_energy': green_energy_level,
                'cost': cost_level,
                'combination': (green_energy_level, cost_level)
            })

# 转换为 DataFrame
freq_df = pd.DataFrame(freq_data)

# 按 income 和 education 计算 green_energy 和 cost 的单独频率和联合频率
green_energy_freq = freq_df.groupby(['income', 'education', 'green_energy']).size().reset_index(name='green_energy_freq')
cost_freq = freq_df.groupby(['income', 'education', 'cost']).size().reset_index(name='cost_freq')
combination_freq = freq_df.groupby(['income', 'education', 'combination']).size().reset_index(name='combination_freq')


combination_freq

     income  education combination  combination_freq
0       1.0        1.0      (1, 1)                11
1       1.0        1.0      (1, 2)                11
2       1.0        1.0      (1, 3)                 7
3       1.0        1.0      (2, 1)                 7
4       1.0        1.0      (2, 2)                 8
..      ...        ...         ...               ...
288     6.0        6.0      (2, 2)                12
289     6.0        6.0      (2, 3)                 9
290     6.0        6.0      (3, 1)                 3
291     6.0        6.0      (3, 2)                 6
292     6.0        6.0      (3, 3)                 7

[293 rows x 4 columns]

In [171]:
# 计算每个education和income类别的总人数
total_by_income = freq_df.groupby('income').size().reset_index(name='total_income')
total_by_education = freq_df.groupby('education').size().reset_index(name='total_education')

total_by_education.set_index("education")

total_by_education[total_by_education["education"] == 1]["total_education"]
total_by_income.set_index("income")

        total_income
income
1.0              560
2.0              517
3.0              834
4.0             1460
5.0              805
6.0              459

In [172]:

# 合并频率表
merged_freq = green_energy_freq.merge(cost_freq, on=['income', 'education'], how='outer')
merged_freq = merged_freq.merge(combination_freq, on=['income', 'education'], how='outer')
merged_freq

,income,education,green_energy,green_energy_freq,cost,cost_freq,combination,combination_freq
0,1.0,1.0,1,29,1,28,"(1, 1)",11
1,1.0,1.0,1,29,1,28,"(1, 2)",11
2,1.0,1.0,1,29,1,28,"(1, 3)",7
3,1.0,1.0,1,29,1,28,"(2, 1)",7
4,1.0,1.0,1,29,1,28,"(2, 2)",8
...,...,...,...,...,...,...,...,...
2632,6.0,6.0,3,16,3,24,"(2, 2)",12
2633,6.0,6.0,3,16,3,24,"(2, 3)",9
2634,6.0,6.0,3,16,3,24,"(3, 1)",3
2635,6.0,6.0,3,16,3,24,"(3, 2)",6
2636,6.0,6.0,3,16,3,24,"(3, 3)",7

In [173]:
total_by_income[total_by_income["income"] == 1]["total_income"].to_list()[0]

560

In [174]:
merged_freq.columns

Index(['income', 'education', 'green_energy', 'green_energy_freq', 'cost',
       'cost_freq', 'combination', 'combination_freq'],
      dtype='object')

In [175]:
income_fq = merged_freq[['income', 'green_energy', 'green_energy_freq', 'cost',
       'cost_freq', 'combination', 'combination_freq']]
income_fq["combination_freq"] = income_fq.apply(lambda x: x["combination_freq"] / total_by_income[total_by_income["income"] == x["income"]]["total_income"].to_list()[0], axis=1)
income_fq

C:\Users\16539\AppData\Local\Temp\ipykernel_22960\3594842961.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  income_fq["combination_freq"] = income_fq.apply(lambda x: x["combination_freq"] / total_by_income[total_by_income["income"] == x["income"]]["total_income"].to_list()[0], axis=1)

,income,green_energy,green_energy_freq,cost,cost_freq,combination,combination_freq
0,1.0,1,29,1,28,"(1, 1)",0.019643
1,1.0,1,29,1,28,"(1, 2)",0.019643
2,1.0,1,29,1,28,"(1, 3)",0.012500
3,1.0,1,29,1,28,"(2, 1)",0.012500
4,1.0,1,29,1,28,"(2, 2)",0.014286
...,...,...,...,...,...,...,...
2632,6.0,3,16,3,24,"(2, 2)",0.026144
2633,6.0,3,16,3,24,"(2, 3)",0.019608
2634,6.0,3,16,3,24,"(3, 1)",0.006536
2635,6.0,3,16,3,24,"(3, 2)",0.013072
2636,6.0,3,16,3,24,"(3, 3)",0.015251

In [176]:
education_fq = merged_freq[['education', 'green_energy', 'green_energy_freq', 'cost',
       'cost_freq', 'combination', 'combination_freq']]
education_fq["combination_freq"] = education_fq.apply(lambda x: x["combination_freq"] / total_by_education[total_by_education["education"] == x["education"]]["total_education"].to_list()[0], axis=1)
education_fq

C:\Users\16539\AppData\Local\Temp\ipykernel_22960\824819304.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  education_fq["combination_freq"] = education_fq.apply(lambda x: x["combination_freq"] / total_by_education[total_by_education["education"] == x["education"]]["total_education"].to_list()[0], axis=1)

,education,green_energy,green_energy_freq,cost,cost_freq,combination,combination_freq
0,1.0,1,29,1,28,"(1, 1)",0.047619
1,1.0,1,29,1,28,"(1, 2)",0.047619
2,1.0,1,29,1,28,"(1, 3)",0.030303
3,1.0,1,29,1,28,"(2, 1)",0.030303
4,1.0,1,29,1,28,"(2, 2)",0.034632
...,...,...,...,...,...,...,...
2632,6.0,3,16,3,24,"(2, 2)",0.057692
2633,6.0,3,16,3,24,"(2, 3)",0.043269
2634,6.0,3,16,3,24,"(3, 1)",0.014423
2635,6.0,3,16,3,24,"(3, 2)",0.028846
2636,6.0,3,16,3,24,"(3, 3)",0.033654

In [177]:
energy_mapping = {1:"60% Green energy",2:"80% Green energy",3:"100% Green energy",}
cost_mapping = {1:"20% lower than current",2:"same as current",3:"20% higher than current"}
# education_fq["green_energy"] = education_fq["green_energy"].apply(lambda x: energy_mapping[x])
# education_fq["cost"] = education_fq["cost"].apply(lambda x: cost_mapping[x])
# education_fq

In [178]:
education_fq.dropna(inplace=True,how="any")

C:\Users\16539\AppData\Local\Temp\ipykernel_22960\1267309414.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  education_fq.dropna(inplace=True,how="any")

In [179]:
education_fq["combination"] = education_fq["combination"].apply(lambda x: energy_mapping[x[0]]+" & "+cost_mapping[x[1]])
income_fq["combination"] = income_fq["combination"].apply(lambda x: energy_mapping[x[0]]+" & "+cost_mapping[x[1]])
income_fq
education_fq
#  energy_mapping(x[0])+" & "+cost_mapping(x[1])

C:\Users\16539\AppData\Local\Temp\ipykernel_22960\3379708870.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  education_fq["combination"] = education_fq["combination"].apply(lambda x: energy_mapping[x[0]]+" & "+cost_mapping[x[1]])
C:\Users\16539\AppData\Local\Temp\ipykernel_22960\3379708870.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  income_fq["combination"] = income_fq["combination"].apply(lambda x: energy_mapping[x[0]]+" & "+cost_mapping[x[1]])

,education,green_energy,green_energy_freq,cost,cost_freq,combination,combination_freq
0,1.0,1,29,1,28,60% Green energy & 20% lower than current,0.047619
1,1.0,1,29,1,28,60% Green energy & same as current,0.047619
2,1.0,1,29,1,28,60% Green energy & 20% higher than current,0.030303
3,1.0,1,29,1,28,80% Green energy & 20% lower than current,0.030303
4,1.0,1,29,1,28,80% Green energy & same as current,0.034632
...,...,...,...,...,...,...,...
2632,6.0,3,16,3,24,80% Green energy & same as current,0.057692
2633,6.0,3,16,3,24,80% Green energy & 20% higher than current,0.043269
2634,6.0,3,16,3,24,100% Green energy & 20% lower than current,0.014423
2635,6.0,3,16,3,24,100% Green energy & same as current,0.028846
2636,6.0,3,16,3,24,100% Green energy & 20% higher than current,0.033654

In [180]:
income_mapping = {1:"3000 or less",2:"3001-4499",3:"4500-5999",4:"6000-8999", 5:"9000-12000", 6:"12000 or more",7:np.NaN,8:np.NaN}

education_mapping = {1:"Compulsory school",2:"Vocational school",3:"Matura",4:"Bachelor",5:"Master", 6:"Doctorate"}
income_fq["income"] = income_fq["income"].apply(lambda x: income_mapping[x])
education_fq["education"] = education_fq["education"].apply(lambda x: education_mapping[x])

C:\Users\16539\AppData\Local\Temp\ipykernel_22960\2670261994.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  income_fq["income"] = income_fq["income"].apply(lambda x: income_mapping[x])
C:\Users\16539\AppData\Local\Temp\ipykernel_22960\2670261994.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  education_fq["education"] = education_fq["education"].apply(lambda x: education_mapping[x])

In [181]:
income_fq.dropna(how='any',inplace=True)
education_fq.dropna(how='any',inplace=True)

C:\Users\16539\AppData\Local\Temp\ipykernel_22960\1312926888.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  income_fq.dropna(how='any',inplace=True)
C:\Users\16539\AppData\Local\Temp\ipykernel_22960\1312926888.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  education_fq.dropna(how='any',inplace=True)

In [182]:
income_fq.to_csv("income_green_energy_cost.csv")
education_fq.to_csv("edu_green_energy_cost.csv")

In [183]:
df.columns.to_list()

['sys_RespNum',
 'sys_StartTime',
 'sys_EndTime',
 'sys_ElapsedTime',
 'sys_SumPageTimes',
 'sys_StartTimeStamp',
 'sys_EndTimeStamp',
 'sys_DataSource',
 'sys_RespStatus',
 'sys_RespRemoved',
 'sys_DispositionCode',
 'sys_LastQuestion',
 'sys_UserJavaScript',
 'sys_UserAgent',
 'sys_OperatingSystem',
 'sys_Browser',
 'sys_ScreenWidth',
 'sys_CAPIDeviceID',
 'tic',
 'Consent1new',
 'Consent2new',
 'Consent3new',
 'AttentionCheck',
 'Age',
 'Education',
 'Gender',
 'Nationality',
 'Income',
 'Canton',
 'CitySize',
 'OwnOrRent',
 'NoHuouseholders',
 'BillPayer',
 'CurrentRenewables',
 'CurrentRenewables_1_other',
 'CurrentPricekWh',
 'CurrentPricekWh_1_other',
 'Appliances_r1',
 'Appliances_r2',
 'ownsPV',
 'Appliances_r3',
 'Appliances_r4',
 'ComprehCheckRenewa',
 'ComprehCheckInvestment',
 'ComprehCheckTrade',
 'ComprehCheckPricing',
 'ComprehCheckCost',
 'CBCMelanieStudy1_Random1',
 'CBCMelanieStudy1_Random1_none',
 'CBCMelanieStudy1_Random2',
 'CBCMelanieStudy1_Random2_none',
 'CBCMelanieStudy1_Random3',
 'CBCMelanieStudy1_Random3_none',
 'CBCMelanieStudy1_Random4',
 'CBCMelanieStudy1_Random4_none',
 'CBCMelanieStudy1_Random5',
 'CBCMelanieStudy1_Random5_none',
 'CBCMelanieStudy1_Random6',
 'CBCMelanieStudy1_Random6_none',
 'CBCMelanieStudy1_Random7',
 'CBCMelanieStudy1_Random7_none',
 'CBCMelanieStudy1_Random8',
 'CBCMelanieStudy1_Random8_none',
 'CBCMelanieStudy1_Random9',
 'CBCMelanieStudy1_Random9_none',
 'CBCMelanieStudy1_Random10',
 'CBCMelanieStudy1_Random10_none',
 'LocalAcquaintances',
 'LocalPreference',
 'PoliticalOrientation',
 'RiskSeeking',
 'Big5_r1',
 'Big5_r2',
 'Big5_r3',
 'Big5_r4',
 'Big5_r5',
 'Big5_r6',
 'Big5_r7',
 'Big5_r8',
 'Big5_r9',
 'Big5_r10',
 'PlaceAttachment_r1',
 'PlaceAttachment_r2',
 'PlaceAttachment_r3',
 'PlaceAttachment_r4',
 'PlaceAttachment_r5',
 'PlaceAttachment_r6',
 'PlaceAttachment_r7',
 'ClimateChangeConcern_r1',
 'ClimateChangeConcern_r2',
 'ClimateChangeConcern_r3',
 'ClimateChangeConcern_r4',
 'ClimateChangeConcern_r5',
 'ClimateChangeConcern_r6',
 'ClimateChangeConcern_r7',
 'ClimateChangeConcern_r8',
 'EnergySecurityConcern_r1',
 'EnergySecurityConcern_r2',
 'EnergySecurityConcern_r3',
 'EnergySecurityConcern_r4',
 'EnergyLiteracy_r1',
 'EnergyLiteracy_r2',
 'EnergyLiteracy_r3',
 'EnergyLiteracy_r4',
 'EnergyLiteracy_r5',
 'EnergyLiteracy_r6',
 'TrustEnergy_r1',
 'TrustEnergy_r2',
 'TrustEnergy_r3',
 'TrustSocial_r1',
 'TrustSocial_r2',
 'TrustSocial_r3',
 'ValueScale_r1',
 'ValueScale_r2',
 'ValueScale_r3',
 'ValueScale_r4',
 'ValueScale_r5',
 'ValueScale_r6',
 'ValueScale_r7',
 'ValueScale_r8',
 'ValueScale_r9',
 'ValueScale_r10',
 'ValueScale_r11',
 'ValueScale_r12',
 'ValueScale_r13',
 'ValueScale_r14',
 'ValueScale_r15',
 'ValueScale_r16',
 'sys_CBCVersion_CBCMelanieStudy1',
 'sys_CBCDesignID_CBCMelanieStudy1',
 'sys_pagetime_1',
 'sys_pagetime_2',
 'sys_pagetime_3',
 'sys_pagetime_4',
 'sys_pagetime_5',
 'sys_pagetime_6',
 'sys_pagetime_7',
 'sys_pagetime_8',
 'sys_pagetime_9',
 'sys_pagetime_10',
 'sys_pagetime_11',
 'sys_pagetime_12',
 'sys_pagetime_13',
 'sys_pagetime_14',
 'sys_pagetime_15',
 'sys_pagetime_16',
 'sys_pagetime_17',
 'sys_pagetime_18',
 'sys_pagetime_19',
 'sys_pagetime_20',
 'sys_pagetime_21',
 'sys_pagetime_22',
 'sys_pagetime_23',
 'sys_pagetime_24',
 'sys_pagetime_25',
 'sys_pagetime_26',
 'sys_pagetime_27',
 'sys_pagetime_28',
 'sys_OriginalRespondentNumber',
 'sys_OriginalFile',
 'sys_OriginalRespondentSignature',
 'sys_SequentialRespNum',
 'Analysisrun2_Utilities_Raw_b100grünb',
 'Analysisrun2_Utilities_Raw_b80grünb',
 'Analysisrun2_Utilities_Raw_b60grünb',
 'Analysisrun2_Utilities_Raw_fontsize2colorSiesind_B',
 'Analysisrun2_Utilities_Raw_fontsize2colorSiesind_A',
 'Analysisrun2_Utilities_Raw_fontsize2colorSiesind',
 'Analysisrun2_Utilities_Raw_fontsize2colorfontbF',
 'Analysisrun2_Utilities_Raw_fontsize2coloranderenf',
 'Analysisrun2_Utilities_Raw_fontsize2colorkleinenund',
 'Analysisrun2_Utilities_Raw_bfixbfontsize2color',
 'Analysisrun2_Utilities_Raw_bdynamischbfontsize2col',
 'Analysisrun2_Utilities_Raw_bpersonalisiertbfontsize2',
 'Analysisrun2_Utilities_Raw_b20günstigerbfontsize2',
 'Analysisrun2_Utilities_Raw_bgenausovielbfontsize2c',
 'Analysisrun2_Utilities_Raw_b20teurerbfontsize2col',
 'Analysisrun2_Utilities_Raw_NONE',
 'Analysisrun2_Utilities_Zerocentered_b100grünb',
 'Analysisrun2_Utilities_Zerocentered_b80grünb',
 'Analysisrun2_Utilities_Zerocentered_b60grünb',
 'Analysisrun2_Utilities_Zerocentered_fontsize2colorS_B',
 'Analysisrun2_Utilities_Zerocentered_fontsize2colorS_A',
 'Analysisrun2_Utilities_Zerocentered_fontsize2colorS',
 'Analysisrun2_Utilities_Zerocentered_fontsize2color',
 'Analysisrun2_Utilities_Zerocentered_fontsize2colora',
 'Analysisrun2_Utilities_Zerocentered_fontsize2colork',
 'Analysisrun2_Utilities_Zerocentered_bfixbfontsize2',
 'Analysisrun2_Utilities_Zerocentered_bdynamischbfontsi',
 'Analysisrun2_Utilities_Zerocentered_bpersonalisiertbfon',
 'Analysisrun2_Utilities_Zerocentered_b20günstigerbfont',
 'Analysisrun2_Utilities_Zerocentered_bgenausovielbfont',
 'Analysisrun2_Utilities_Zerocentered_b20teurerbfontsi',
 'Analysisrun2_Utilities_Zerocentered_NONE',
 'Analysisrun2_Importances_GrünerStromspanclasstool_tip_lin',
 'Analysisrun2_Importances_SolarInvestitionspanclasstool_ti',
 'Analysisrun2_Importances_Handelmitspanclasstool_tip_link',
 'Analysisrun2_Importances_PreiskWhspanclasstool_tip_link',
 'Analysisrun2_Importances_Kostenspanclasstool_tip_linkf',
 'EnergyLiteracy',
 'ownsEV',
 'ownsStorage',
 'ownsHeatPump',
 'PlaceAttachment',
 'EnergySecurity',
 'ClimateChangeConcern',
 'hedonicValues',
 'egoisticValues',
 'altruisticValues',
 'biosphericValues',
 'GenderMF',
 'NlocalAcquitances',
 'HLlocalAcquitances',
 'InterestEV',
 'InterestPV',
 'InterestBATTERY',
 'InterestHP',
 'BFI_Extraversion',
 'BFI_Agreeableness',
 'BFI_Conscientiousness',
 'BFI_Neuroticism',
 'BFI_Openness',
 'ESS_Trust',
 'Energy_Trust',
 'Social_ESS_Trust',
 'ALT_equality',
 'BIO_respecting',
 'EGO_socialpower',
 'HED_pleasure',
 'BIO_unitynature',
 'ALT_worldpeace',
 'EGO_wealth',
 'EGO_authority',
 'ALT_socialJustice',
 'HED_enjoylife',
 'BIO_protecting',
 'EGO_influential',
 'ALT_helpful',
 'BIO_preventing',
 'HED_selfindulgent',
 'EGO_ambitious',
 'MRAT',
 'ALTRUISMcenter',
 'EGOISMcenter',
 'HEDONISMcenter',
 'BIOSPHERICcenter',
 'ALTRUISM',
 'EGOISM',
 'HEDONISM',
 'BIOSPHERIC',
 'CLU4',
 'CLU3',
 'Nreallife']

In [184]:
climate_columns=[ 'ClimateChangeConcern_r1',
 'ClimateChangeConcern_r2',
 'ClimateChangeConcern_r3',
 'ClimateChangeConcern_r4',
 'ClimateChangeConcern_r5',
 'ClimateChangeConcern_r6',
 'ClimateChangeConcern_r7',
 'ClimateChangeConcern_r8',]

climate_df = df[climate_columns]
climate_df

,ClimateChangeConcern_r1,ClimateChangeConcern_r2,ClimateChangeConcern_r3,ClimateChangeConcern_r4,ClimateChangeConcern_r5,ClimateChangeConcern_r6,ClimateChangeConcern_r7,ClimateChangeConcern_r8
0,3.0,3.0,2.0,1.0,1.0,3.0,4.0,3.0
1,6.0,3.0,6.0,1.0,2.0,6.0,5.0,6.0
2,5.0,4.0,4.0,4.0,2.0,5.0,5.0,5.0
3,7.0,4.0,4.0,4.0,4.0,7.0,7.0,6.0
4,5.0,3.0,2.0,2.0,3.0,3.0,3.0,4.0
...,...,...,...,...,...,...,...,...
631,7.0,4.0,6.0,7.0,7.0,7.0,5.0,6.0
632,5.0,4.0,5.0,5.0,6.0,4.0,6.0,5.0
633,7.0,2.0,7.0,4.0,5.0,7.0,7.0,6.0
634,6.0,5.0,3.0,3.0,5.0,5.0,5.0,6.0
635,7.0,4.0,7.0,1.0,5.0,5.0,5.0,5.0

In [185]:
questions = [
    "Concern about climate change",
    "Problems balancing sustainability and family needs",
    "Feeling directly affected by climate change",
    "Knowing someone affected by climate change",
    "Noticing changes in important places",
    "Desire to behave more sustainably",
    "Reducing climate-impacting behaviors",
    "Belief in personal impact on climate change"
]


climate_df.columns = questions

In [186]:
data_long = pd.melt(
    climate_df,
    var_name='ConcernAspect',  # 新列名，表示关切维度
    value_name='Score'  # 新列名，表示关切评分
)
data_long

                                    ConcernAspect  Score
0                    Concern about climate change    3.0
1                    Concern about climate change    6.0
2                    Concern about climate change    5.0
3                    Concern about climate change    7.0
4                    Concern about climate change    5.0
...                                           ...    ...
5083  Belief in personal impact on climate change    6.0
5084  Belief in personal impact on climate change    5.0
5085  Belief in personal impact on climate change    6.0
5086  Belief in personal impact on climate change    6.0
5087  Belief in personal impact on climate change    5.0

[5088 rows x 2 columns]

In [187]:
def categorize_score(score):
    if score == 1:
        return "Not at all"
    elif score == 2:
        return "Slightly"
    elif score == 3:
        return "Somewhat"
    elif score == 4:
        return "Moderately"
    elif score == 5:
        return "Quite a bit"
    elif score == 6:
        return "Very much"
    else:
        return "Extremely"

data_long['Category'] = data_long['Score'].apply(categorize_score)
data_long.to_csv("climate-concerns-score.csv")

In [188]:
percentage_data = data_long.groupby(['ConcernAspect', 'Category']).size().groupby(level=0).apply(lambda x: 100 * x / x.sum()).reset_index(name='Percentage')

neither_data = percentage_data[percentage_data['Category'] == "Moderately"].copy()
neither_data['Percentage'] /= 2
neither_data['Category'] = "Moderately Left"

neither_data_right = neither_data.copy()
neither_data_right['Category'] = "Moderately Right"

percentage_data = percentage_data[percentage_data['Category'] != "Moderately"]
percentage_data = pd.concat([percentage_data, neither_data, neither_data_right], ignore_index=True)

percentage_data

C:\Users\16539\AppData\Local\Temp\ipykernel_22960\3046588471.py:1: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  percentage_data = data_long.groupby(['ConcernAspect', 'Category']).size().groupby(level=0).apply(lambda x: 100 * x / x.sum()).reset_index(name='Percentage')

,ConcernAspect,Category,Percentage
0,Belief in personal impact on climate change,Extremely,12.578616
1,Belief in personal impact on climate change,Not at all,4.559748
2,Belief in personal impact on climate change,Quite a bit,27.358491
3,Belief in personal impact on climate change,Slightly,5.503145
4,Belief in personal impact on climate change,Somewhat,8.490566
...,...,...,...
59,Feeling directly affected by climate change,Moderately Right,9.276730
60,Knowing someone affected by climate change,Moderately Right,7.704403
61,Noticing changes in important places,Moderately Right,7.468553
62,Problems balancing sustainability and family n...,Moderately Right,12.735849
63,Reducing climate-impacting behaviors,Moderately Right,8.569182

In [189]:
percentage_data.to_csv("climate-concern.csv")